/* /* h1{
    color:blue;
} */
 /* .heading{
    color:black;

 }
body{
    background-color:white;
}
button{
    background-color:black;
    color:aliceblue;
}  */
  /* .box{
    height:100px;
    width:100px;
    border: 1px solid black;
    margin:5px;
    text-align: center;
    background-color: aquamarine;
  } */
   /* #box{
    height:200px;
    width:100px;
    border: 1px solid black;
    color:black;
    background-color: aquamarine;
  }
  */
  /* Qn */
  /* .content{
    color:red;
  }
  .newClass{
    background-color: green;
  } */
  /* div{
  height: 100px;
  width:100px;
  background-color: dodgerblue;
  color:white;
  border: 1px solid black;

   } */